*.pyc
__pycache__

checkpoints/*
!checkpoints/.placeholder

data/*
!data/.placeholder

*data*/*
!mydata/

*tar.gz

outputs/hyp/*
!outputs/hyp/.placeholder

outputs/ref/*
!outputs/ref/.placeholder

outputs/*

.DS_Store

